{{ define "global-nav" }}
{{ partial "global-nav.html" . }}
{{ end }}
{{ define "main" }}
   <div class="d-lg-none container-fluid content pt-4 pb-4">
        <div class="row justify-content-center align-items-start">
            <div class="col-12 col-lg-9 col-xl-9">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-start">
            <div class="col-10 col-lg-7 col-xl-7">
                {{ emojify .Content }}
            </div>
        </div>
        <div class="row justify-content-center align-items-start">
            <div class="col-10 col-lg-7 col-xl-7">
                <iframe src="/linkedin.html" frameborder="0" height="259" width="310" style="display: block;"></iframe>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block container-fluid content pt-4 pb-4">
        <div class="row justify-content-center align-items-start">
            <div class="col-12 col-lg-9 col-xl-9">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-start">
            <div class="col-10 col-lg-7 col-xl-7">
                {{ emojify .Content }}
            </div>
            <div class="col-2 col-lg-2 col-xl-2 justify-content-start">
                <iframe src="/linkedin.html" frameborder="0" height="259" width="310" style="display: block;"></iframe>
            </div>
        </div>
    </div>
{{ end }}
