<div class="container-fluid footer pt-3 pb-3">
    <div class="row justify-content-center">
        <div class="col-11 pb-2">
            <a class="u-email" href="mailto:info@hoot.works" rel="me external">info@hoot.works</a>
        </div>
        <div class="col-11 copyright">
            Copyright © <span class="p-name p-nickname">Hoot Works Limited</span><br>
            Hoot Works is a limited company registered in England and Wales. Registered number: 11387111<br>
            VAT Number: 296102209. Registered office: Canalot Studios, Unit 133, 222 Kensal Road, London, W10 5BN<br>
            <a href="/privacy-policy">Privacy Policy</a>
        </div>
    </div>
</div>
